.startMainDiv{
  margin-top:120px!important;
}
.userName {
  text-align: end !important;
  color: #ffffff !important;
  margin-right: 5% !important;
  margin-top: 2% !important;
  position: fixed !important;
  top: 0 !important;
  right: 0;
  width: 90vw;
}